#rating {
width: 100px;
}

#logout {
text-align : center;
}
	 
.inputError{
border: solid 2px red;
}

.mainTemplateTable{
border : 0;
width : 100%; 
height : 100%; 
}

/*--------------- rating tooltip---------------------------  */
#tool{
text-decoration:none,
}

a.tooltip:hover 
{   position: relative;                     
    background: transparent; 
	text-decoration: none;
}  

a.tooltip span  
{    position: absolute;                  
     visibility: hidden;                     
	text-decoration: none;
     width: 10em;                         
     top: 2em; left: 1em;                  
}

a.tooltip:hover span  
{    visibility: visible;
	text-decoration: none;
}                    

a.tooltip             
{    
      color: #444444;
     /* border-bottom:1px solid blue;*/
	  text-decoration: none;
}

a.tooltip span
{
      /* ... */
	  text-decoration: none;
      background: white;
      border: 1px solid #aaaaaa;
      padding: 7px;
}

a.tooltip span b
{     display: block; 
      font-weight: bold; 
      border-bottom: 1px solid #888888;
      margin-bottom: 5px;
}

/*--------------loading DIV--------------*/
#loadding{
	background-color: white;
	position: fixed;
	top:0;
	left:0;
	bottom:0; 
	right:0;
	width: 100%;
	height: 100%;
	z-index: 2;	
	filter:alpha(opacity=50); 
	opacity: 0.5; 
	-moz-opacity:0.5;		
 }
 
#loadingGif{
 margin-top: 10%;
 margin-left: 30%;
 border: 0px;
 
}



  



